absl-py
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
astunparse
attrs
blinker
blis
Bottleneck
branca
Brotli
cachetools
catalogue
category_encoders
certifi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
cramjam
cymem
dataclasses-json
datasets
debugpy
decorator
dill
distro
dotenv
en-core-web-lg
executing
faiss-cpu
fastapi
fastparquet
ffmpeg
ffmpy
filelock
flatbuffers
folium
frozenlist
fsspec
fuzzywuzzy
gast
geographiclib
geopy
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
gradio
gradio_client
greenlet
groovy
grpcio
h11
h2
h5py
hf-xet
holidays
hpack
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
hyperframe
idna
ipykernel
ipython
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langcodes
langsmith
Levenshtein
libclang
llvmlite
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mkl_fft
mkl_random
mkl-service
ml_dtypes
more-itertools
mpmath
multidict
multiprocess
murmurhash
mypy_extensions
namex
narwhals
nest-asyncio
networkx
nltk
numba
numexpr
numpy
oauthlib
openai
openai-whisper
opt_einsum
optree
orjson
packaging
pandas
parso
patsy
pillow
pip
platformdirs
portalocker
preshed
prompt-toolkit
propcache
proto-plus
protobuf
psutil
public-meetings
pure-eval
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydantic-settings
pydeck
pydub
Pygments
pyparsing
PySocks
python-dateutil
python-dotenv
python-Levenshtein
python-multipart
pytz
pywin32
PyYAML
pyzmq
qdrant-client
RapidFuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
ruff
safehttpx
safetensors
scikit-learn
scipy
semantic-version
sentence-transformers
setuptools
shellingham
six
smart-open
smmap
sniffio
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
SQLAlchemy
srsly
stack-data
starlette
statsmodels
streamlit
streamlit_folium
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
tf_keras
thinc
threadpoolctl
tiktoken
tokenizers
toml
tomlkit
torch
tornado
tqdm
traitlets
transformers
typer
typing_extensions
typing-inspect
typing-inspection
tzdata
uritemplate
urllib3
uvicorn
wasabi
watchdog
wcwidth
weasel
websockets
Werkzeug
wheel
win-inet-pton
wrapt
xgboost
xxhash
yarl
zstandard